<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-2">
  <p class="navbar-brand">
    Bola de Neve
  </p>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="/before_vote" class="nav-link">Iniciar Votação</a>
    </li>    
      <li class="nav-item">
        <a href="/login" class="nav-link">Controle Administrativo</a>
      </li>
  </ul>
</nav>

<body>
  
</body>