<nav class="navbar navbar-expand-lg navbar-dark bg-success px-2 label_font">
  <span class="navbar-brand font-monospace font-weight-bolder ml-3">
    Área Administrativa
  </span>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="/admin/administrative/report" class="nav-link">Relatórios</a>
    </li>
    <li class="nav-item">
      <a href="/admin/cargo/index" class="nav-link">Cargos</a>
    </li>
    <li class="nav-item">
      <a href="/administrative/index" class="nav-link">Candidatos</a>
    </li>
    <li class="nav-item">
      <a href="/administrative/active" class="nav-link">Usuários</a>
    </li>
    <li class="nav-item">
      <a href="/logout" class="nav-link active" >Deslogar</a>
    </li>
  </ul>
</nav>