<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>
  <div class="container label_font">

    <h1>Criando nova Sessão</h1>

    <form action="/administrative/new_session" method="POST">      
      <div class="mb-3">
        <label for="eleitores" class="form-label">Quantidade de Eleitores</label>
        <input type="text" class="form-control" id="eleitores" name="eleitores" aria-describedby="eleitores">
        <div id="eleitores" class="form-text">Esse campo serve para determinar a quantidade máxima de Eleitores por Sessão.</div>
      </div>
      <div class="mb-3">
        <label for="pass_sessao" class="form-label">Código de Sessao</label>
        <input type="text" name="pass_sessao" class="form-control" id="pass_sessao" aria-describedby="pass_sessao_help">
        <div id="pass_sessao_help" class="form-text">O Código de sessão é o código inserido antes de cada incío de Voto, colocado pelo Mesário.</div>
      </div>
      <div class="mb-3">
        <label for="name_congregacao" class="form-label">Nome da Votação (O site herdará esse nome)</label>
        <input type="text" class="form-control" id="name_congregacao" name="name_congregacao">
        <small id="name_congregacao">Esse nome ficará na apresentação da Votação e no Banner</small>
      </div>
      <div class="mb-3 form-check form-switch" title="Essa opção habilita a votação para a vaga de Conselheiro Fiscal, sendo uma tela de multi seleção dos candidatos em uma única votação, caso essa opção não esteja habilitada, não será possível cadastrar os candidatos para esse cargo específico.">
        <div class="estilar_conselher ml-4" style="font-size: 20px">
          <input type="checkbox" class="form-check-input" role="switch" id="conselher_on" name="conselher_on">
          <label for="conselher_on">Habilitar Votação de Conselheiro</label>
          <br>
          <!-- <small for="conselher_on" class="pb-4">Habilite a votação especial de Conselheiro Fiscal aqui</small> -->
        </div>
        <br>        
      </div>
      <button type="submit" class="btn btn-primary">Criar Sessão</button>
    </form>
  </div>
</body>

<%- include ('../../partials/footer.ejs') %>