<%- include ('partials/header.ejs') %>
  <%- include ('partials/homenavbar.ejs') %>
<body>
  <div class="container label_font">
    <h1></h1>
    
    <div class="container">
      <span class="status_votation text-justify">
        <h2>
          Bem-vindo ao Sistema de Votação para Eleição de Cargos de Irmãos da Igreja Evangélica. Aqui, você pode participar ativamente do processo democrático, 
          expressando sua escolha para os cargos que moldarão o futuro da nossa comunidade. Sua voz é importante, e sua participação é essencial para fortalecer nossa igreja.
          Vamos juntos construir um futuro guiado pela vontade coletiva dos irmãos. Participe e faça a diferença!
        </h2>
        <hr>
        <h4>
          Para Refletir e verificarmos a importância de uma escolha sábia, podemos lembrar destes ensinamentos:
        </h4>
        <hr>
        <h3>
          Êxodo 18:21-22 (NTLH):
        </h3>
        <h4>
          "Escolha também dentre o povo homens capazes e que temam a Deus, homens que sejam dignos de confiança e que não aceitem suborno. 
           E coloque esses homens para serem chefes de mil, chefes de cem, chefes de cinquenta e chefes de dez. Eles devem julgar o povo em todas as ocasiões. 
           Que eles tragam a você todo caso difícil, mas julguem os casos pequenos. Isso aliviará a sua carga, pois eles o ajudarão a carregá-la."
        </h4>
        <hr>
        <h3>
          Romanos 12:4-5
        </h3>
        <h4>
          "Pois assim como cada um de nós tem um corpo com muitos membros e esses membros não exercem todos a mesma função, assim também em Cristo nós, que somos muitos, 
           formamos um corpo, e cada membro está ligado a todos os outros."
        </h4>
        <hr>
        <h3>
          1 Coríntios 12:27
        </h3>
        <h4>
          "Ora, vocês são o corpo de Cristo, e cada um de vocês, individualmente, é membro desse corpo."
        </h4>

        <hr>
        <h2>
          Tenhamos sabedoria em nossas escolhas.
        </h2>
      </span>

    </div>
  </div>
</body>

<%- include ('partials/footer.ejs') %>