body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Define a altura mínima da página para ocupar toda a viewport */
  margin: 0;
}

.contato_formating {
  font-family: "Lato", sans-serif;  
}

.contato_formating_links {
  text-decoration: none !important;
  color: #000;
}

.contato_formating_links:hover {
  color: #018ab4;
}

.main-head{
  height: 150px;
  background: #FFF;
 
}

.sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
}


.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 40%; 
  }

  .sidenav{
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 80%;
  }

  .register-form{
      margin-top: 20%;
  }
}


.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}

.btn-black{
  background-color: #000 !important;
  color: #fff;
}

.toast {
  width: 400px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.toast-time {
  margin-left: auto;
}

.candidate {
  background: var(--color-white);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
  border-radius: 0.4rem;
  overflow: hidden;
}

.candidate-list-item {
  max-width: 64rem;
  height: fit-content;
}

/* Comportamento do mouse encima desse objeto */
.candidate-list-item:hover {
  transition: transform 500ms ease-in-out;
  transform: scale(1.05);
  box-shadow: -8px 10px 18px rgba(1, 2, 1, 0.541);
}

/* Comportamento ao retirar o mouse de cima desse objeto. */
.candidate-list-item:not(:hover){
  transition: transform 300ms ease-in-out;
  transform: scale(1);
  box-shadow: none;
}

.label_font {
  font-family: 'Rubik', sans-serif;
}


.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: #818CF8;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #e8e8e8;
  width: fit-content;
}

.coolinput input[type=text].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #818CF8 solid;
  border-radius: 5px;
  background: #e8e8e8;
}

.coolinput input[type=text].input:focus {
  outline: none;
}

.content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}