<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbar_vote.ejs') %>

<body>
  <div class="container">
    <h1 style="font-size: 15rem; text-align: center; margin-top: 50vh; transform: translateY(-50%);">FIM</h1>
    <a href="/before_vote" class="btn btn-primary" style="display: block; margin: 20px auto; width: fit-content;">Reinicializar a Votação!</a>
  </div>
</body>

<%- include ('../partials/footer.ejs') %>
